.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.col-5 {
  width: 20%;
  max-width: 400px;
}

.p-fluid {
  padding: 20px;
  background-color:#ece9e9;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.field {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  font-family: Arial, sans-serif;
}

input {
  width: 92%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

.button-label {
  font-weight: bold;
  font-family: Helvetica, sans-serif;
}

button {
  display: block;
  width: 30%;
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

@media (max-width: 500px) {
  .col-5 {
    width: 80%;
  }
}
